header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../../image/index/bg-masthead.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: auto;
}

.imgcenter {
  /* mix-blend-mode: multiply; */
  /* max-width: 80vw; */
  width: 60vw;
  padding-bottom: 4rem;
  /* margin: auto; */
}