/* 背景圖片 */
.backgroundImge {
    padding-top: 9rem;
    background: url("../../image/index/bg-masthead2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.inZoom {

    animation: fadein 15s ease;
    margin: 0%;
    padding: 0%;
}

.outZoom {

    animation: fadeout 15s ease;
    margin: 0%;
    padding: 0%;
}

.row {
    --bs-gutter-x: 1.0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

/* 圖片外框 */
.drawBig {
    width: 1000vw;
    height: auto;
    position: relative;
    padding: 0px;

}

/* 中央圖片 */
.imgcenter {
    width: 100%;
    height: 100%;
    padding: 0%;

}

/* 中央圖片出現的文字
與圖片外框 定位 */
.drawBigText {
    word-wrap: break-word;
    overflow: hidden;
    word-break: normal;
    position: absolute;
    color: rgb(0, 0, 0);
    width: 100%;
    max-height: 100%;
    z-index: 0;
    left: 0px;
    top: 10%;
}

#s {
    margin: 0%;
    font-size: xx-large;
}

/* 姻緣籤詩 */
h1 {
    margin: 0px;
}

.imgdown {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 0px auto;
}

/* 下方小圖 */
.downimg {
    width: 30vw;
    height: auto;
    padding: 5%;
    width: 100%;
    height: 100%;

}

.drawSmallText {
    /* overflow: hidden; */
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    top: 33%;
    left: 0%;

}

.draw {
    width: 20%;
    height: auto;
    padding: 0%;


}