*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 標準 */
}

p,h2{
    font-family:serif; 
}

#code { 
    cursor: pointer;
    font-family:Arial; 
    font-style:italic; 
    font-weight:bold; 
    border:0; 
    letter-spacing:10px; 
    color:blue;
    background-color: aqua;
    padding:4px;
    width:100px;
    height:30px;
    text-align:center;
    pointer-events: none; 
    /* 讓他直接點到後面 */
  } 
  #recode{
    cursor: pointer;
    font-size:10px;
  }

  .title{
    font-family:serif;
}

#form-folat_mb2{
    margin:0px auto;
    width:300px;
    height:200px;
    border:5px #FFAC55 solid;
    padding:10px;
  }